<div class="d-flex justify-content-center align-items-center h-100">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img alt={{item.title}} class="img-fluid rounded-start" src={{item.thumbnail}}  >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <h5 class="card-text">${{item.price}}</h5>
          <p class="card-text">{{item.description}}</p>
        <button type="button" class="btn btn-primary" onclick='addProductToCart("{{item._id}}")'>Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
