<div class="m-5">
  <ul>
    <li><p>First Name: {{user.firstName}}</p></li>  
    <li><p>Last Name: {{user.lastName}}</p></li>  
    <li><p>Usename: {{user.username}}</p></li>  
    <li><p>email: {{user.email}}</p></li>  
    <li><p>gender: {{user.gender}}</p></li>  
  </ul>
</div>